@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.App {
  text-align: center;
  background-color: #E4F2E7;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
}

.container{
  height: 70vh;
}

.container h2{
  letter-spacing: 5px;
  color: #387373;
  font-family: 'Fjalla One', sans-serif;
}